<div class="contact__item">
  <div class="contact__zalo">
    <a href="https://zalo.me/0876347453">
      <img
        src="https://taxinhanh247.pro.vn/assets/image/icon/zalo.svg"
        alt="zalo"
        class="contact__icon"
      />
    </a>
  </div>
</div>
<div class="contact__item d-lg-none">
  <div class="contact__massage">
    <a href="https://m.me/251187354751015">
      <img
        src="https://taxinhanh247.pro.vn/assets/image/icon/message-face.svg"
        alt="messages-facebook"
        class="contact__icon"
      />
    </a>
  </div>
</div>
<div class="contact__item">
  <div class="contact__phone">
    <a href="tel:0876347453">
      <img
        src="https://taxinhanh247.pro.vn/assets/image/icon/phone.svg"
        alt=""
        class="contact__icon"
      />
    </a>
  </div>
</div>
