<div class="container">
  <div class="footer__inner">
    <div class="row gy-lg-3">
      <div class="col-4 col-lg-12">
        <div class="footer__logo">
          <div class="footer__logo-inner">
            <div class="footer__logo-icon-wrap">
              <img
                src="./assets/image/icon/logo.png"
                alt="logo icon"
                class="footer__logo-icon"
              />
            </div>
            <h2 class="footer__logo-name">ĐẶT XE NHANH 24H</h2>
          </div>
        </div>
        <p class="footer__desc">
          Đặt xe nhanh chóng an toàn đơn giản và tiết kiệm
        </p>
      </div>
      <div class="col-4 col-lg-12">
        <ul class="footer__list">
          <li class="footer__item text--bold text--lagre">
            Công Ty Vận Tải Hữu Nghị
          </li>
          <li class="footer__item">
            <a href="https://maps.app.goo.gl/3PGRHJ9MsNLyfi6R6"
              >Địa chỉ:An Thạnh Trung,Chợ Mới,An Giang</a
            >
          </li>
          <li class="footer__item">
            <a href="mailto:tranhuunghi02092000@gmail.com"
              >Email:tranhuunghi02092000@gmail.com</a
            >
          </li>
          <li class="footer__item">
            <a href="tel:0876347453">Phone:0876347453</a>
          </li>
        </ul>
      </div>
      <div class="col-4 col-lg-12">
        <ul class="footer__list">
          <li class="footer__item text--bold text--lagre">LIÊN KẾT NHANH</li>
          <li class="footer__item"><a href="#!">Bài viết nổi bật</a></li>
          <li class="footer__item">
            <a href="https://datxenhanh-24h.info.vn/chinh-sach-bao-mat.html"
              >Chính sách bảo mật</a
            >
          </li>
          <li class="footer__item">
            <a href="https://datxenhanh-24h.info.vn/ve-chung-toi.html"
              >Về chúng tôi</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="coppyright">
      <p>© 2010 - 2025 datxenhanh-24h.info.vn . All rights reserved.</p>
    </div>
  </div>
</div>
