<div class="header__container">
  <div class="container">
    <div class="topbar">
      <div class="topbar__menu d-md-none">
        <button class="topbar__menu-btn">
          <img
            src="./assets/image/icon/menu.svg"
            alt="menu"
            class="topbar__menu-icon icon"
          />
        </button>
      </div>
      <div class="topbar__logo">
        <div class="topbar__logo-inner">
          <div class="topbar__logo-icon-wrap">
            <img
              src="./assets/image/icon/logo.png"
              alt="logo icon"
              class="topbar__logo-icon"
            />
          </div>
          <h2 class="topbar__logo-name">ĐẶT XE NHANH 24H</h2>
        </div>
      </div>
      <div class="topbar__user d-md-none">
        <div class="topbar__user-wrap">
          <div class="topbar__user-list">
            <div class="topbar__user-item d-lg-none">
              <a
                href="#!"
                class="topbar__user-btn topbar__user-register btn btn--text"
                >Đăng Kí</a
              >
            </div>
            <div class="topbar__user-item d-lg-none">
              <a
                href="#!"
                class="topbar__user-btn topbar__user-login btn btn--primary btn--rounded"
                >Đăng Nhập</a
              >
            </div>
            <div class="topbar__user-item">
              <img
                src="./assets/image/icon/user.svg"
                alt="user"
                class="topbar__user-icon icon"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header__content">
    <div class="container">
      <div class="header__list row gx-md-2 gx-sm-1">
        <div class="header__item-wrap col d-sm-none">
          <a href="tel:0876347453" class="header__item">XE MÁY</a>
        </div>
        <div class="header__item-wrap col">
          <a href="tel:0876347453" class="header__item">4 CHỖ</a>
        </div>
        <div class="header__item-wrap col">
          <a href="tel:0876347453" class="header__item">7 CHỖ</a>
        </div>
        <div class="header__item-wrap col">
          <a href="tel:0876347453" class="header__item">16 CHỖ</a>
        </div>
      </div>
    </div>
  </div>
</div>
