html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.row > *, .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1370px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--grid-gutter-y));
  margin-left: calc(var(--grid-gutter-x) * -0.5);
  margin-right: calc(var(--grid-gutter-x) * -0.5);
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-col-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-col-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-col-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-col-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-col-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-col-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0 {
  --grid-gutter-x: 0px;
  --grid-gutter-y: 0px;
}

.gx-0 {
  --grid-gutter-x: 0px;
}

.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1 {
  --grid-gutter-x: 7.5px;
  --grid-gutter-y: 7.5px;
}

.gx-1 {
  --grid-gutter-x: 7.5px;
}

.gy-1 {
  --grid-gutter-y: 7.5px;
}

.g-2 {
  --grid-gutter-x: 15px;
  --grid-gutter-y: 15px;
}

.gx-2 {
  --grid-gutter-x: 15px;
}

.gy-2 {
  --grid-gutter-y: 15px;
}

.g-3 {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 30px;
}

.gx-3 {
  --grid-gutter-x: 30px;
}

.gy-3 {
  --grid-gutter-y: 30px;
}

.g-4 {
  --grid-gutter-x: 45px;
  --grid-gutter-y: 45px;
}

.gx-4 {
  --grid-gutter-x: 45px;
}

.gy-4 {
  --grid-gutter-y: 45px;
}

.g-5 {
  --grid-gutter-x: 90px;
  --grid-gutter-y: 90px;
}

.gx-5 {
  --grid-gutter-x: 90px;
}

.gy-5 {
  --grid-gutter-y: 90px;
}

@media (max-width: 1399.98px) {
  .container {
    max-width: 1140px;
  }
  .row-col-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-col-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-col-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-col-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-col-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-col-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0 {
    --grid-gutter-x: 0px;
    --grid-gutter-y: 0px;
  }
  .gx-xxl-0 {
    --grid-gutter-x: 0px;
  }
  .gy-xxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxl-1 {
    --grid-gutter-x: 7.5px;
    --grid-gutter-y: 7.5px;
  }
  .gx-xxl-1 {
    --grid-gutter-x: 7.5px;
  }
  .gy-xxl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xxl-2 {
    --grid-gutter-x: 15px;
    --grid-gutter-y: 15px;
  }
  .gx-xxl-2 {
    --grid-gutter-x: 15px;
  }
  .gy-xxl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xxl-3 {
    --grid-gutter-x: 30px;
    --grid-gutter-y: 30px;
  }
  .gx-xxl-3 {
    --grid-gutter-x: 30px;
  }
  .gy-xxl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xxl-4 {
    --grid-gutter-x: 45px;
    --grid-gutter-y: 45px;
  }
  .gx-xxl-4 {
    --grid-gutter-x: 45px;
  }
  .gy-xxl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xxl-5 {
    --grid-gutter-x: 90px;
    --grid-gutter-y: 90px;
  }
  .gx-xxl-5 {
    --grid-gutter-x: 90px;
  }
  .gy-xxl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
  .row-col-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-col-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-col-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-col-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-col-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-col-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0 {
    --grid-gutter-x: 0px;
    --grid-gutter-y: 0px;
  }
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1 {
    --grid-gutter-x: 7.5px;
    --grid-gutter-y: 7.5px;
  }
  .gx-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .gy-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xl-2 {
    --grid-gutter-x: 15px;
    --grid-gutter-y: 15px;
  }
  .gx-xl-2 {
    --grid-gutter-x: 15px;
  }
  .gy-xl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xl-3 {
    --grid-gutter-x: 30px;
    --grid-gutter-y: 30px;
  }
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4 {
    --grid-gutter-x: 45px;
    --grid-gutter-y: 45px;
  }
  .gx-xl-4 {
    --grid-gutter-x: 45px;
  }
  .gy-xl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xl-5 {
    --grid-gutter-x: 90px;
    --grid-gutter-y: 90px;
  }
  .gx-xl-5 {
    --grid-gutter-x: 90px;
  }
  .gy-xl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
  .row-col-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-col-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-col-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-col-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-col-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-col-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0 {
    --grid-gutter-x: 0px;
    --grid-gutter-y: 0px;
  }
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1 {
    --grid-gutter-x: 7.5px;
    --grid-gutter-y: 7.5px;
  }
  .gx-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .gy-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-lg-2 {
    --grid-gutter-x: 15px;
    --grid-gutter-y: 15px;
  }
  .gx-lg-2 {
    --grid-gutter-x: 15px;
  }
  .gy-lg-2 {
    --grid-gutter-y: 15px;
  }
  .g-lg-3 {
    --grid-gutter-x: 30px;
    --grid-gutter-y: 30px;
  }
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4 {
    --grid-gutter-x: 45px;
    --grid-gutter-y: 45px;
  }
  .gx-lg-4 {
    --grid-gutter-x: 45px;
  }
  .gy-lg-4 {
    --grid-gutter-y: 45px;
  }
  .g-lg-5 {
    --grid-gutter-x: 90px;
    --grid-gutter-y: 90px;
  }
  .gx-lg-5 {
    --grid-gutter-x: 90px;
  }
  .gy-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
  .row-col-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-col-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-col-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-col-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-col-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-col-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0 {
    --grid-gutter-x: 0px;
    --grid-gutter-y: 0px;
  }
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1 {
    --grid-gutter-x: 7.5px;
    --grid-gutter-y: 7.5px;
  }
  .gx-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .gy-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-md-2 {
    --grid-gutter-x: 15px;
    --grid-gutter-y: 15px;
  }
  .gx-md-2 {
    --grid-gutter-x: 15px;
  }
  .gy-md-2 {
    --grid-gutter-y: 15px;
  }
  .g-md-3 {
    --grid-gutter-x: 30px;
    --grid-gutter-y: 30px;
  }
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4 {
    --grid-gutter-x: 45px;
    --grid-gutter-y: 45px;
  }
  .gx-md-4 {
    --grid-gutter-x: 45px;
  }
  .gy-md-4 {
    --grid-gutter-y: 45px;
  }
  .g-md-5 {
    --grid-gutter-x: 90px;
    --grid-gutter-y: 90px;
  }
  .gx-md-5 {
    --grid-gutter-x: 90px;
  }
  .gy-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
  .row-col-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-col-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-col-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-col-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-col-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-col-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0 {
    --grid-gutter-x: 0px;
    --grid-gutter-y: 0px;
  }
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1 {
    --grid-gutter-x: 7.5px;
    --grid-gutter-y: 7.5px;
  }
  .gx-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .gy-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-sm-2 {
    --grid-gutter-x: 15px;
    --grid-gutter-y: 15px;
  }
  .gx-sm-2 {
    --grid-gutter-x: 15px;
  }
  .gy-sm-2 {
    --grid-gutter-y: 15px;
  }
  .g-sm-3 {
    --grid-gutter-x: 30px;
    --grid-gutter-y: 30px;
  }
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4 {
    --grid-gutter-x: 45px;
    --grid-gutter-y: 45px;
  }
  .gx-sm-4 {
    --grid-gutter-x: 45px;
  }
  .gy-sm-4 {
    --grid-gutter-y: 45px;
  }
  .g-sm-5 {
    --grid-gutter-x: 90px;
    --grid-gutter-y: 90px;
  }
  .gx-sm-5 {
    --grid-gutter-x: 90px;
  }
  .gy-sm-5 {
    --grid-gutter-y: 90px;
  }
}
.d-block {
  display: block !important;
}

.d-grid {
  display: grid !important;
}

.d-flex {
  display: flex !important;
}

.d-none {
  display: none !important;
}

@media (max-width: 1399.98px) {
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-grid {
    display: grid !important;
  }
  .d-xxl-flex {
    display: flex !important;
  }
  .d-xxl-none {
    display: none !important;
  }
}
@media (max-width: 1199.98px) {
  .d-xl-block {
    display: block !important;
  }
  .d-xl-grid {
    display: grid !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-none {
    display: none !important;
  }
}
@media (max-width: 991.98px) {
  .d-lg-block {
    display: block !important;
  }
  .d-lg-grid {
    display: grid !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-none {
    display: none !important;
  }
}
@media (max-width: 767.98px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-grid {
    display: grid !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-none {
    display: none !important;
  }
}
@media (max-width: 575.98px) {
  .d-sm-block {
    display: block !important;
  }
  .d-sm-grid {
    display: grid !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-none {
    display: none !important;
  }
}
*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--bg-body-color);
  color: var(--text-color);
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button {
  padding: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

textarea,
button,
input,
select {
  color: inherit;
  font-family: inherit;
}

.icon {
  filter: brightness(0) saturate(100%) invert(31%) sepia(33%) saturate(7319%) hue-rotate(253deg) brightness(97%) contrast(108%);
}

.separate {
  width: 60vw;
  height: 1.5px;
  background: var(--primary-color-2);
  margin: 30px auto;
  border-radius: 999px;
}

.text--bold {
  font-weight: 700;
}
.text--large {
  font-size: 2.4rem;
}
.text--blue {
  color: blue;
}

.btn {
  font-weight: 500;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 20px;
  border-radius: 5px;
}
.btn + .btn {
  margin-left: 20px;
}

.btn--text {
  color: #9e9da8;
  background: transparent;
  font-weight: 400;
}
.btn--primary {
  color: #ffffff;
  background: var(--primary-color);
}
.btn--rounded {
  border-radius: 99px;
}
.btn--outline {
  background: transparent;
  border: 1px solid #d2d1d6;
}
.btn:hover {
  opacity: 0.9;
}
.btn[disabled], .btn--disabled {
  opacity: 0.5;
  pointer-events: none;
}

.slideshow {
  --slideshow-padding: 20px;
  color: var(--primary-color-3);
  background: var(--primary-color-2);
  margin-bottom: 30px;
}
.slideshow__inner {
  position: relative;
  padding: var(--slideshow-padding) 0;
}
.slideshow__content {
  position: relative;
  z-index: 4;
  text-align: center;
}
.slideshow__overlay {
  z-index: 3;
  position: absolute;
  inset: 0;
  background: #000;
  opacity: 0.2;
}
.slideshow__heading {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.45;
  margin-bottom: 40px;
}
@media (max-width: 1199.98px) {
  .slideshow__heading {
    font-size: 2.8rem;
    margin-bottom: 30px;
  }
}
@media (max-width: 991.98px) {
  .slideshow__heading {
    font-size: 2.6rem;
    margin-bottom: 20px;
  }
}
@media (max-width: 767.98px) {
  .slideshow__heading {
    font-size: 2.4rem;
    margin-bottom: 15px;
  }
}
.slideshow__desc {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 1.5;
  margin-bottom: 40px;
}
@media (max-width: 1199.98px) {
  .slideshow__desc {
    font-size: 2.2rem;
    margin-bottom: 30px;
    line-height: 1.44;
  }
}
@media (max-width: 991.98px) {
  .slideshow__desc {
    font-size: 2rem;
    margin-bottom: 20px;
    line-height: 1.4;
  }
}
@media (max-width: 767.98px) {
  .slideshow__desc {
    font-size: 1.8rem;
    margin-bottom: 20px;
    line-height: 1.35;
    max-width: calc(100% - 20px);
  }
}
@media (max-width: 575.98px) {
  .slideshow__desc {
    max-height: 75px;
    overflow-y: hidden;
  }
}
.slideshow__btn {
  border: 1px solid var(--primary-color-3);
  max-width: 200px;
}
@media (max-width: 767.98px) {
  .slideshow__btn {
    margin: 0 auto;
  }
}
.slideshow__media {
  overflow: hidden;
  border-radius: 20px;
  border: 1.5px solid var(--primary-color-3);
}
@media (max-width: 767.98px) {
  .slideshow__media {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: calc(100% - 20px);
  }
}
.slideshow__images {
  position: relative;
  width: 100%;
  padding-top: 50%;
}
@media (max-width: 1199.98px) {
  .slideshow__images {
    padding-top: 66.7%;
  }
}
@media (max-width: 767.98px) {
  .slideshow__images {
    padding-top: 75%;
  }
}
@media (max-width: 575.98px) {
  .slideshow__images {
    padding-top: 80%;
  }
}
.slideshow__image {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 767.98px) {
  .slideshow__image {
    object-position: 50% -85px;
  }
}
@media (max-width: 575.98px) {
  .slideshow__image {
    object-position: 50% -20px;
  }
}

.booking {
  margin-top: 30px;
  padding-top: 1px;
  position: relative;
}
.booking__form {
  padding: 20px;
  background: var(--primary-color-2);
}
.booking__form-inner {
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
  margin-bottom: 60px;
}
.booking__title {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--primary-color-3);
}
.booking__item {
  display: flex;
  gap: 10px;
  border: 1px solid var(--primary-color-3);
  padding: 5px 10px;
  height: 30px;
  width: 100%;
  background: #fff;
  border-radius: 4px;
}
.booking__item--icon1 {
  color: #56c441;
}
.booking__item--icon1::before {
  content: "\f21d";
}
.booking__item--icon2 {
  color: red;
}
.booking__item--icon2::before {
  content: "\f3c5";
}
.booking__input {
  width: 100%;
  outline: none;
  border: none;
  background: none;
}
.booking__submit {
  border: 1px solid var(--primary-color-3);
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.contact {
  display: flex;
  gap: 20px;
  flex-direction: column;
  position: fixed;
  bottom: 30px;
  right: 20px;
}
@media (max-width: 767.98px) {
  .contact {
    bottom: 20px;
    right: 15px;
    gap: 10px;
  }
}
.contact__item {
  background: #fff;
  position: relative;
  padding: 15px;
  border: 1.5px solid #ccc;
  border-radius: 50%;
  z-index: 100;
}
@media (max-width: 767.98px) {
  .contact__item {
    padding: 10px;
    width: 70px;
    height: 70px;
  }
}
.contact__item + .contact__item {
  margin-top: 20px;
}
.contact__phone {
  animation: phonerotate infinite;
  animation-duration: 0.5s;
}

@keyframes phonerotate {
  10% {
    rotate: 15deg;
  }
  25% {
    rotate: -15deg;
  }
  35% {
    rotate: -15deg;
  }
  50% {
    rotate: 15deg;
  }
}
.hero__heading {
  font-weight: 600;
  line-height: 1.4;
  font-size: 2.6rem;
  margin-bottom: 30px;
  text-align: center;
}
.hero__title {
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 1.4;
  margin-bottom: 20px;
}
.hero__desc {
  font-weight: 500;
  line-height: 1.5;
  font-size: 1.8rem;
  text-align: start;
}
.hero__image {
  object-fit: contain;
}
@media (max-width: 991.98px) {
  .hero__image {
    width: 210px;
  }
}
@media (max-width: 767.98px) {
  .hero__image {
    width: 150px;
  }
}
@media (max-width: 575.98px) {
  .hero__image {
    width: 80px;
  }
}
.hero__item {
  margin-top: 60px;
  margin-bottom: 60px;
}
.hero__item-inner {
  align-items: center;
}
@media (max-width: 575.98px) {
  .hero__item-inner {
    align-items: flex-start;
  }
}
.hero__col {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
}
.hero__col:nth-child(2) {
  flex-direction: column;
}

.row-reverse {
  flex-direction: row-reverse;
}
.row-reverse .hero__col:nth-child(1) {
  justify-content: flex-end;
}

.review-card {
  margin-top: 60px;
  margin-bottom: 60px;
}
.review-card__heading {
  font-weight: 600;
  line-height: 1.4;
  font-size: 2.6rem;
  margin-bottom: 30px;
}
.review-card__col {
  border: 1.5px solid var(--primary-color-2);
  padding: 20px;
  border-radius: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.review-card__content {
  margin-bottom: 20px;
  gap: 10px;
  display: flex;
}
@media (max-width: 1199.98px) {
  .review-card__content {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 767.98px) {
  .review-card__content {
    flex-direction: row;
    align-items: initial;
    text-align: initial;
    justify-content: initial;
  }
}
.review-card__title {
  margin-bottom: 6px;
  font-weight: 2.2rem;
  font-weight: 600;
  line-height: 1.42;
}
.review-card__desc {
  font-weight: 400;
  line-height: 1.35;
  font-size: 1.6rem;
}
.review-card__thumb {
  --review-card-thumb-width: 80px;
  flex-shrink: 0;
  flex-grow: 0;
  object-fit: cover;
  width: var(--review-card-thumb-width);
  height: var(--review-card-thumb-width);
  border-radius: 999px;
  display: block;
}
@media (max-width: 767.98px) {
  .review-card__thumb {
    --review-card-thumb-width: 70px;
  }
}
.review-card__rating {
  display: flex;
  gap: 20px;
  align-items: center;
}
@media (max-width: 1199.98px) {
  .review-card__rating {
    justify-content: center;
  }
}
@media (max-width: 767.98px) {
  .review-card__rating {
    justify-content: start;
  }
}
@media (max-width: 1199.98px) {
  .review-card__rating-desc {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .review-card__rating-desc {
    display: block;
  }
}
.review-card__stars {
  display: flex;
  gap: 6px;
  align-items: center;
}

.text-content {
  font-size: 1.6rem;
  line-height: 1.6;
}
.text-content h2,
.text-content h3,
.text-content h4,
.text-content h5,
.text-content h6 {
  font-weight: 600;
}
.text-content h2 {
  font-size: 2.6rem;
}
.text-content h3 {
  font-size: 2.4rem;
}
.text-content h4 {
  font-size: 2rem;
}
.text-content h2,
.text-content h3,
.text-content h4,
.text-content h5,
.text-content h6,
.text-content p,
.text-content img,
.text-content blockquote {
  margin: 20px 0;
}
.text-content img {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  display: block;
}
.text-content a {
  color: blue;
}
.text-content img + em {
  font-style: italic;
  display: block;
  text-align: center;
}
.text-content blockquote {
  border-left: 1.5px solid #ccc;
  padding: 20px;
  background: #eee;
}
.text-content blockquote p {
  margin: 0;
}
.text-content tr {
  border: 1px solid #ccc;
}
.text-content td {
  padding: 10px;
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background: #fff;
}
.header__container {
  padding-top: 10px;
}
.header__content {
  background: var(--primary-color);
  color: #fff;
  padding: 10px 0;
}
.header__list {
  height: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .header__list {
    gap: 10px;
  }
}
.header__item {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.6;
  padding: 10px;
}
@media (max-width: 767.98px) {
  .header__item {
    padding: 10px 5px;
    font-size: 1.8rem;
  }
  .header__item-wrap {
    border: 1px solid var(--primary-color-3);
    border-radius: 10px;
  }
}

.topbar {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .topbar {
    justify-content: center;
  }
}
.topbar__logo-inner {
  border-radius: 999px;
  padding: 5px 20px 5px 5px;
  border: 1px solid var(--primary-color);
  display: flex;
  gap: 20px;
  align-items: center;
}
@media (max-width: 767.98px) {
  .topbar__logo-inner {
    gap: 10px;
  }
}
.topbar__logo-icon {
  display: block;
  width: 100%;
  object-fit: contain;
}
.topbar__logo-icon-wrap {
  flex: 1;
  width: 50px;
  overflow: hidden;
  border-radius: 999px;
}
.topbar__logo-name {
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 1.5;
  color: var(--primary-color);
}
@media (max-width: 767.98px) {
  .topbar__logo-name {
    font-size: 2.2rem;
  }
}
.topbar__user-list {
  display: flex;
  align-items: center;
}
.topbar__user-icon, .topbar__menu-icon {
  width: 40px;
}
.topbar__user-icon {
  display: none;
}
@media (max-width: 767.98px) {
  .topbar__user-icon {
    display: block;
  }
}

.footer {
  color: var(--primary-color-3);
  background: var(--primary-color-2);
  margin-top: 20px;
}
.footer__inner {
  padding: 40px 0;
}
.footer__logo {
  margin-bottom: 20px;
}
@media (max-width: 991.98px) {
  .footer__logo {
    max-width: 400px;
  }
}
.footer__logo-inner {
  border-radius: 999px;
  border: 1px solid var(--primary-color-3);
  display: flex;
  gap: 10px;
  align-items: center;
}
@media (max-width: 767.98px) {
  .footer__logo-inner {
    gap: 5px;
  }
}
.footer__logo-icon {
  display: block;
  border-radius: 999px;
  width: 60px;
  height: 60px;
  object-fit: contain;
}
.footer__logo-icon-wrap {
  flex: 0 0 auto;
  overflow: hidden;
  border-radius: 999px;
}
.footer__logo-name {
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 1.5;
  padding: 0 15px;
  color: var(--primary-color-3);
}
@media (max-width: 1199.98px) {
  .footer__logo-name {
    font-size: 2.4rem;
    padding: 0;
  }
}
@media (max-width: 991.98px) {
  .footer__logo-name {
    font-size: 2.2rem;
  }
}
@media (max-width: 767.98px) {
  .footer__logo-name {
    font-size: 2rem;
  }
}
.footer__desc {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.42;
}
.footer__item a {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.3;
}
.footer__item + .footer__item {
  margin-top: 20px;
}
@media (max-width: 991.98px) {
  .footer__item + .footer__item {
    margin-top: 10px;
  }
}

.coppyright {
  margin-top: 30px;
}

html {
  --primary-color: #46ad13c4;
  --primary-color-2: #4cff3abf;
  --primary-color-3: #fff;
}

.home {
  padding-top: 30px;
}
@media (max-width: 767.98px) {
  .home {
    padding-top: 15px;
  }
}

/*# sourceMappingURL=main.css.map */
