.btn {
  font-weight: 500;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 20px;
  border-radius: 5px;
  + .btn {
    margin-left: 20px;
  }
}
.btn {
  &--text {
    color: #9e9da8;
    background: transparent;
    font-weight: 400;
  }
  &--primary {
    color: #ffffff;
    background: var(--primary-color);
  }
  &--rounded {
    border-radius: 99px;
  }
  &--outline {
    background: transparent;
    border: 1px solid #d2d1d6;
  }
  &:hover {
    opacity: 0.9;
  }
  &[disabled],
  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
